%flexfoot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer{
    background-color: #45364B;
    color: #EAC8CA;
    margin: 0px 4.7vw 4.7vw 4.7vw;
    @extend %flexfoot;
}

.footerm p{
    font-size: 2vw;
    color: #DFECFF;
    margin-bottom: 2vw;
}

.footerm img{
    width: 4vw;
    height: 4vw;
}

.footimg{
    display: flex;
    img{
        width: 28vw;
        height: 28vw;
    }
}

.footext{
    margin-top: 3vw;
    text-align: left;
    li{
        font-size: 2vw;
        color: #DFECFF;
    }
}